<h1>Counter With Container</h1>

<div class="countdownHolder">
  <span class="position" *ngFor="let d of count$ | async | toArray">
    <span class="digit static">
      {{d}}
    </span>
  </span>
</div>

<button type="button"
  (click)="uiToState.next({'isTicking':true})">
  Start
</button>

<button type="button"
  (click)="uiToState.next({'isTicking':false})">
  Pause
</button>

<br/>

<button type="button"
  (click)="btnSetTo.next($event)">
  Set To
</button>

<input
  type="number" min=0
  value="0"
  (input)="inputSetTo.next($event)"/>

<button type="button"
  (click)="uiToState.next(initialCounterState)">
  Reset
</button>

<br/>

<button type="button"
  (click)="uiToState.next({'countUp':true})">
  Count Up
</button>

<button type="button"
  (click)="uiToState.next({'countUp':false})">
  Count Down
</button>

<br/>

<label>
  Tick Speed
</label>
<input
  type="number" min=0
  [value]="tickSpeed$ | async"
  (input)="inputTickSpeed.next($event)"/>
<label>
  Count Diff
</label>
<input 
  type="number" min=0
  [value]="($ | async)?.countDiff"
  (input)="inputCountDiff.next($event)"/>
